body {
    background-image: url("images/91839.jpg");
    color: rgb(255, 255, 255);
}
img {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.header {
    font-size: 75px;
    margin: 5%;
}
.login {
	font-size: 60px;
	position: absolute;
	top: 40%;
	left: 20%;
	width: 25%;
	height: 50%;
}

form {
	font-size: 30px;
}

.input {
	line-height: 40px;
	width : 100%;
}

.button {
	position: absolute;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.button:hover {
	font-style: italic;
	position: absolute;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 20px 37px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}