body {
    background-image: url("images/91839.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment:fixed;
}

.col-50{
    width: 50%;
    float: left;
    display: block;
}

.ticket_input > div > input{
    width: 20%;
    float: left;
    font-size: 20px;
}

.ticket_input > div{
    float: left;
}

.full-width-submit{
    width: 80%;
    margin: 30px auto;
    background: green;
    color: white;
    font-size: 30px;
    border:none;
    padding:20px;
    border-radius: 10px;
}


.overlay{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    /*background-color: #1a1a1a;*/
    left: 0px;
    top: 0px;
    /*opacity: 0.5;*/
    z-index: -1;
    width: 100%;
    height: 100%;
}
.header {
    font-size: 75px;
    margin: 5%;
}



.subheader {
    font-size: 50px;
}
.login {
    font-size: 45px;
	position: absolute;
	top: 40%;
	left: 20%;
	width: 25%;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 30px;
}

/*form {
	font-size: 30px;
    padding: 20px;
}
*/

.add_maintenance{
    
    height: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    background: green;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    position:absolute;
}
.mod_maintenance{
    
    height: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    background: green;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    position:absolute;
    top:60px;
}
.end_maintenance{
    
    height: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    background: green;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    position:absolute;
    right:1px;
    top:120px;
}
.add_ticket_button{
    color: inherit;
    text-decoration: inherit;
}

.input {
	line-height: 40px;
	width : 100%;
    font-size: 30px;
}

.form-input{
    padding:20px;
}

.label{
    padding:0;
    margin:0;
}

.menu {
    position: absolute;
	top: 17.5%;
    right: 2.55%;
}

.content{
    position: absolute;
    color: white;
    background: rgba(0,0,0,.5);
    top: 25%;
    min-height: 70%;
    width: 95%;
    font-size: 16px;
    right: 2.5%;
}


/*
.contentBackDrop{
    position: absolute;
    background-color: black; 
    border: black;
    opacity: 0.6;
    top: 25%;
    height: 70%;
    width: 95%;
    font-size: 16px;
    right: 2.5%;
}
}*/

.maintenanceMenu{
    position: absolute; 
    top: 300px;
    left: 50px;
    width: 92%;
    height: 50%; 
    background-color: white;
    border: #008CBA;
    font-color: black; 
    overflow: scroll;
    
}

.reports{
    position: absolute; 
    width: 100%;
    height: 75%; 
    background-color: white;
    border: #008CBA;
    font-color: black; 
    overflow: scroll;
}

.report{
    color: black;
}
.report, b{
    color: black;
    font-size: 18px;
}
.info{
    font-size: 35px;
    padding-top: 10%;
}
.col1{
    position: absolute;
    width: 50%;
    left: 5%;
}
.col2{
    position: absolute;
    width: 50%;
    left: 50%;
}
.button {
	position: absolute;
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.button:hover {
	font-style: italic;
	position: absolute;
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 20px 37px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}

.buttonMenu {

    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.buttonMenu:hover {
	font-style: italic;
    background-color: red; 
    border: none;
    color: white;
    padding: 20px 37px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.clockInButton {

    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.clockOutButton {

    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}

