html, body{
    margin: 0;
    padding: 0;
}

body {
    background-image:#eee;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#addAdult, #addChild, #addCoupon, .remove {
    background: dodgerblue;
    padding: 20px 0;
    border-radius:10px;
}

#coupon_id{
    width: 30%;
    margin: 10px 35%;
}

.col-80 {
    width: 80%;
    margin: 20px auto;
}

#coupon_id, #getCash > input ,#getCard > input, #getCard select{
    font-size: 30px;
}

.left-bar{
    width:300px;
    position: fixed;
    height: 100%;
    background: #4F52BA;
    top: 0;
    
}

.left-bar div{
    margin: 30px;
    color: #000;
    font-size: 20px;
    border-radius:20px;
    background: #fff;
    padding:20px;
}

.left-bar a{
    text-decoration: none;
}

.left-bar .logo{
    color: #fff;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 700;
    background: none;
}

#getCard, #getCash{
    width: 400px;
    padding: 20px;
    margin: 20px, auto;
    background: rgba(255, 255, 255, .8);
    text-align: left;
}

.col-50{
    width: 50%;
    float: left;
    display: block;
}


.col-100{
    width: 100%;
    float: left;
    display: block;
}

.ticket_input > div > input, .ticket_input > div > div > input {
    float: left;
    font-size: 20px;
}

.button_group{
    width: 100%;
    float: left;
}

.button_group div{
    width: 200px;
    text-align: center;
    background: #fff;
    float: left;
    padding: 15px;
    margin: 20px 0 50px 0;
    border:2px solid #ddd;
    /*border-left: 3px solid #fff;*/
}

.button_group div:last-child{
    border-top-right-radius:10px;    
    border-bottom-right-radius: 10px;
}

.button_group div:first-child{
    border-top-left-radius:10px;    
    border-bottom-left-radius: 10px;
    border-right: none;
}

.input-group{
    width: 100%;
}

.input-group > input{
    width: 25%;
}

.ticket_input input{
    float: left;
}

.full-width-submit{
    width: 100%;
    margin: 30px auto;
    background: green;
    color: #333;
    font-size: 30px;
    border:none;
    padding:20px;
    border-radius: 10px;
}

.overlay{
    position: fixed;
    background: #eee;
    /*background-color: #1a1a1a;*/
    left: 0px;
    top: 0px;
    /*opacity: 0.5;*/
    z-index: -1;
    width: 100%;
    height: 100%;
}
.header {
    font-size: 75px;
    margin: 5%;
}
.subheader {
    font-size: 50px;
}
/*.login {
    font-size: 45px;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 25%;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 30px;
}*/


/*form {
	font-size: 30px;
    padding: 20px;
}
*/

.add_maintenance{
    
    height: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    background: green;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    position:absolute;
}
.mod_maintenance{
    
    height: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    background: green;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    position:absolute;
    top:60px;
}
.end_maintenance{
    
    height: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    background: green;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    position:absolute;
    right:1px;
    top:120px;
}
.add_ticket_button{
    color: inherit;
    text-decoration: inherit;
}

.input {
	line-height: 40px;
	width : 100%;
    font-size: 30px;		
 }		
 		
 .form-input{		
     padding:20px;		
 }		
 		
 .label{		
     padding:0;		
     margin:0;
}

.menu {
    position: absolute;
	top: 17.5%;
    right: 2.55%;
}

.content{
    /*position: absolute;*/
    padding-left:320px;
    padding-top:50px;
    /*background: rgba(255, 255, 255, .7);*/
    /*background: rgba(0,0,0,.5);*/
    /*width: 95%;*/
    /*width:100%;*/
    top: 25%;
    color: #333;
    /*min-height: 70%;*/
    /*margin-left:340px;*/
    font-size: 16px;
    right: 2.5%;
}

h3{
    font-size:30px;
    line-height: 30px;
}

.content-inner{
    background: rgba(255, 255, 255, .9);    
    height: 100%;
    padding: 30px;
    border-radius: 30px;
}


/*
.contentBackDrop{
    position: absolute;
    background-color: black; 
    border: black;
    opacity: 0.6;
    top: 25%;
    height: 70%;
    width: 95%;
    font-size: 16px;
    right: 2.5%;
}
}*/

.maintenanceMenu{
    position: absolute; 
    top: 360px;
    width: 75%;
    height: 50%; 
    background-color: white;
    border: #008CBA;
    font-color: black; 
    overflow: scroll;
    
}

.reports{
    position: absolute; 
    /*width: 100%;*/
    height: 75%; 
    background-color: white;
    border: #008CBA;
    font-color: black; 
    overflow: scroll;
}

.report{
    color: black;
}
.report, b{
    color: black;
    font-size: 18px;
}
.info{
    font-size: 35px;
    padding-top: 10%;
}

.info2{
    font-size: 35px;
}

.col1{
    position: absolute;
    width: 50%;
    left: 5%;
    height: 100%;
}
.col2{
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
}
p {
    font-size: 32px;
}

input {
    font-size: 32px;
}

select {
    font-size: 32px;
}
.button {
	position: absolute;
    background-color: #008CBA; 
    border: none;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.button:hover {
	font-style: italic;
	position: absolute;
    background-color: #008CBA; 
    border: none;
    color: #333;
    padding: 20px 37px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}

.buttonMenu {

    background-color: black; 
    border: none;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.buttonMenu:hover {
	font-style: italic;
    background-color: red; 
    border: none;
    color: #333;
    padding: 20px 37px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.clockInButton {

    background-color: green; 
    border: none;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}
.clockOutButton {

    background-color: red; 
    border: none;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    right: 0%;

}

.rideUsageForm {
	list-style: none;
}

